{% extends 'base.html' %}

{% block content %}

<h2>Toutes les réservations</h2>

<table>

<tr>
    <th>ID</th>
    <th>Utilisateur</th>
    <th>Ressource</th>
    <th>Date</th>
    <th>Action</th>
</tr>

{% for reservation in reservations %}

<tr>

    <td>{{ reservation.id }}</td>
    <td>{{ reservation.user.username }}</td>
    <td>{{ reservation.resource.name }}</td>
    <td>{{ reservation.reservation_date }}</td>

    <td>
        <a href="/cancel/{{ reservation.id }}">Supprimer</a>
    </td>

</tr>

{% endfor %}

</table>

{% endblock %}
